body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#time {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: 100;
}